#cvbase {
	
	& .border {
		border-style: solid;
	}
	& .profile {
		display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    height: 40%	
	}
	& .top {
		text-align: center;
	}
	& .secRow {
		border-collapse: collapse;
	}

	& .demo-card__title  {
		font-weight: bold;
		font-size: 30px;
	}
	
	& .infoExp {
		font-weight: 100;
		font-style: italic;
	}

	& h1 {
		font-weight: 200;
	}
}